.email-container {
  display: flex;
  position: absolute;
}

.get-started-container {
  width: 141%;
  height: 100%;
  background-color: #e50914;
  border: 0;
  outline: none;
  color: #fff;
  padding: 14px 0px 0px 0px;
  border-radius: 3px;
  margin-left: 140%;
}

.get-started-container:hover {
  opacity: 90%;
}

.get-started-container > .get-started {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1px;
  /* position: absolute; */
}

.get-started-container > .MuiSvgIcon-root {
  font-size: 40px;
  float: right;
  margin-top: -9px;
}
