.mainContainer {
  width: 100%;
  height: 100%;
}

.header-container {
  /* background-image: url(../Landing-page/images/gallery.jpg); */
  background-image: url(../Landing-page/images/background_website_small.jpg);
  height: 741px;
  width: inherit;
  background-position: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: absolute;
  margin-top: -3.3%;
  overflow: hidden;
}

.headerContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 15% 0px 0px 0px;
  position: absolute;
  width: 100%;
  height: 741px;
}

.unlimited,
.shows,
.watch,
.readyToWatch {
  width: 100%;
  position: absolute;
}

.headerContent > .unlimited,
.headerContent > .shows {
  font-weight: bold;
}

.headerContent > .unlimited {
  // font-size: 52px;
  font-size: 3.2em;
}

.headerContent > .shows {
  margin-top: 4%;
  font-size: 3.1em;
}

.headerContent > .watch {
  font-size: 26px;
  margin: 9.4% 0px 1.5% 0px;
}

.readyToWatch {
  font-size: 19.2px;
  margin-top: 13.8%;
}

.head-email {
  /* margin: 27.5% 0px 0px 27.5%; */
  margin: 32% 0px 0px 20.5%;
  position: absolute;
  width: 100%;
  height: 100%;
}

.header-container::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  width: 100%;
  height: 750px;
}

.story-container,
.download-container,
.thirdSecond {
  display: flex;
  background-color: black;
}

.story-container {
  position: absolute;
  margin-top: 52%;
  color: #ffffff;
  width: inherit;
  height: 75%;
  overflow: hidden;
  padding: 7% 3% 0px 10%;

  .story-animation {
    flex: 1.2;
  }
}

.story-text {
  flex: 1;
  line-height: 1.4;
  padding: 7% 3% 3% 0%;
}

.story-text > h1,
.download-advert > h1,
.watchEverywhere > h1,
.fourthSection > .frequently {
  font-size: 3.125rem;
  font-weight: bold;
}

.story-text > .watch-on-tv,
.download-advert > .favorites,
.watchEverywhere > .stream {
  font-size: 1.625rem;
  font-weight: 400;
}

.story-animation > .animation-card {
  width: 40%;
  position: absolute;
  z-index: 2;
  margin-top: -5%;
}

.story-animation > .animation-card > .led-tv {
  width: 100%;
  height: 100%;
}

.download-container {
  width: 100%;
  height: 75%;
  position: absolute;
  margin-top: 87.1%;
  padding: 0px 0px 15% 0px;
}

.image-container {
  width: 100%;
  flex: 1;
  padding: 2% 2% 2% 3%;
}
.image-container > .mobile {
  width: 100%;
}

.download-card::after {
  background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif)
    center center no-repeat;
  content: "";
  display: block;
  width: 3em;
  height: 3em;
  outline: 2px solid #000;
  display: block;
  background-size: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 3%;
  z-index: 1;
}

.download-card {
  display: flex;
  border: 2px solid rgba(255, 255, 255, 0.25);
  color: #ffffff;
  background-color: black;
  box-shadow: 0 0 2em 0 #000;
  border-radius: 0.75em;
  width: 26%;
  height: 95px;
  padding: 0.7em 0.15em 0.7em 0.7em;
  position: absolute;
  z-index: 2;
  top: 45.5%;
  left: 10.5%;
}

.download-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-left: 5%;
}

.download-card > .box-shot {
  width: 16%;
}

.stranger-things {
  font-weight: bold;
  margin-bottom: 1%;
}

.download-text > .downloading {
  color: #0071eb;
}

.download-advert {
  flex: 1;
  color: #ffffff;
  padding: 10.5% 12% 3% 0%;
  width: 100%;
  height: 100%;
}

.download-advert > h1,
.watchEverywhere > h1 {
  padding-bottom: 5%;
}

.thirdSecond {
  position: absolute;
  width: 100%;
  height: 80%;
  margin-top: 122.4%;
  color: #ffffff;
  padding: 3% 3% 0px 5%;
}

.watchEverywhere {
  flex: 1;
  width: 100%;
  line-height: 1.4;
  padding: 7% 3% 3% 0%;
}

.second-story-animation {
  flex: 1.2;
}

.secondAnim-card {
  position: absolute;
}

.secondAnim-card {
  z-index: 2;
}
.secondAnim-video-container {
  z-index: 1;
  margin-left: 5%;
  margin-top: 3%;
}

.device-Pile {
  width: 90%;
}

.fourthSection {
  position: absolute;
  width: 100%;
  height: 135%;
  margin-top: 160%;
  padding: 6% 20% 2% 20%;
  background: #000;
  color: #ffffff;
}

.frequently {
  text-align: center;
}

.fourthSection > .sub-section {
  margin-top: 6%;
  margin-bottom: 8%;
}

.secondReadyToWatch {
  font-size: 19.2px;
  width: 100%;
  margin-left: 12%;
}

.bottom-email {
  margin-left: 8%;
  margin-top: 3%;
}

.footer {
  position: absolute;
  width: 100%;
  margin-top: 223%;
  background-color: black;
  padding: 6% 10% 3% 17%;
}

/* @media only screen and (max-width: 949px) and (min-width: 550px) {
  .headerContent {
    margin: 15% 0px 0px 0px;
  }
} */

/* @media screen and (min-width: 740px) {
  
} */
