.signIn-button-container {
  float: right;
  width: 90px;
  position: absolute;
  margin-left: 88%;
}

.sign-button {
  width: 100%;
  outline: none;
  color: #fff;
  background-color: #e50914;
  border: 0px;
  border-radius: 7px;
  height: 40px;
}
